<nav class="flex h-[77] w-100 justify-between items-center bg-white p-4 border-b-2">
  <div class="flex flex-shrink-1 text-white sm:mr-6 xxsm:mr-3">
    <span
        class="font-bold xsm:text-xl sm:text-2xl md:text-3xl text-[#000]">tripotale</span>
  </div>
  <div class="w-full flex-grow flex justify-between md:w-auto items-center">
    <div class="text-sm md:flex-grow">
      <a class="xsm:test-sm sm:text-base md:text-lg lg:text-xl font-semibold">
          Help
        </a>
    </div>
    <div class="flex items-center gap-2">
      <button class=" text-[#424242] xxsm:text-sm sm:text-base md:text-[17px] xsm:font-normal sm:font-medium xxsm:px-2 sm:px-4 py-2 ">How it works?</button>
        <!-- <i class="fa fa-shopping-basket fa-lg relative" aria-hidden="true"></i>
      <span class="bg-black text-white rounded-full w-4 h-4 flex items-center justify-center absolute top-4"><i >5</i></span> -->


      <a routerLink="/login" *ngIf="isLogedIn =='false' || isLogedIn == null"
          class="xsm:text-sm xsm:font-semibold hover:cursor-pointer w-32 sm:h-[43px] sm:text-base px-4 xxsm:py-1 xsm:py-2 whitespace-nowrap sm:font-bold rounded text-white bg-black ">Sign
          In</a>
          <a (click)="onClickOnLogOut()" *ngIf="isLogedIn=='true'"
          class="xsm:text-sm ms-1 xsm:font-semibold hover:cursor-pointer w-32 sm:h-[43px] sm:text-base px-4 xxsm:py-1 xsm:py-2 whitespace-nowrap sm:font-bold rounded text-white bg-black ">
          LogOut</a>
    </div>
  </div>
</nav>

<!-- <nav class="flex h-[77] w-100 justify-between items-center bg-white p-6">
  <div class="flex flex-shrink-1 text-white sm:mr-6 xxsm:mr-3">
    <button (click)="redirectTo('home')"><span
        class="font-bold xsm:text-xl sm:text-2xl md:text-3xl text-[#000]">tripotale</span></button>
  </div>
  <div class="w-full flex-grow flex justify-between md:w-auto items-center">
    <div class="text-sm md:flex-grow">
      <button (click)="redirectTo('itinerary')"><a class="xsm:test-sm sm:text-base md:text-lg lg:text-xl font-semibold">
          Help
        </a>
      </button>
    </div>
    <div>
      <button (click)="redirectTo('itinarary-details')" class=" text-[#424242] text-sm xxsm:px-2 sm:px-4 py-2 font-normal">How
        it works?
      </button>
      <button (click)="redirectTo('customer-profilling')"><a
          class="xsm:text-sm xsm:font-semibold w-32 sm:h-[43px] text-base px-4 xxsm:py-1 xsm:py-2  sm:font-bold rounded text-white bg-black mt-4">Sign
          In</a>
        </button>
    </div>
  </div>
</nav> -->
