.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  label {
    display: flex;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 25px;
  }
  
  .btn1 {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .btn2{
    display: flex;
    justify-items: end;
  }

  /* Add this to your component's CSS file */
.invalid {
    border: 1px solid red;
  }
  
  .error-message {
    color: red;
    margin-top: 5px; /* Optional: Add some space between the input and error message */
  }
  
  .error-text {
    font-size: 14px;
  }
  
  
  