<div class="login-container ">
    <h2 class="text-center text-2xl font-semibold">Login</h2>
<form [formGroup]="myForm" >
    <label for="email">Email</label>
    <input class="border" type="email" id="email" formControlName="email" [class.invalid]="myForm.get('email')?.invalid && myForm.get('email')?.touched" />
    
    <div *ngIf="myForm.get('email')?.hasError('required') && myForm.get('email')?.touched" class="error-message">
      <span class="error-text">Email is required.</span>
    </div>
    
    <div *ngIf="myForm.get('email')?.hasError('email') && myForm.get('email')?.touched" class="error-message">
      <span class="error-text">Please enter a valid email address.</span>
    </div>
    
    <label for="password" class="justify-between">Password</label>
    <input class="border" type="password" id="password" formControlName="password" [class.invalid]="myForm.get('password')?.invalid && myForm.get('password')?.touched" />
    
    <div *ngIf="myForm.get('password')?.hasError('required') && myForm.get('password')?.touched" class="error-message">
      <span class="error-text">password is required.</span>
    </div>
    
    <div *ngIf="myForm.get('password')?.hasError('password') && myForm.get('password')?.touched" class="error-message">
      <span class="error-text">Please enter a valid password address.</span>
    </div>
  <div class="">
    <div class="text-end"><a class="text-blue-500" routerLink="/forgot">Forgot Password?</a> </div>

    <button class="btn1 w-full mt-2" type="submit" (click)="login()">Login</button>
  </div>
  <div class="text-center mt-2">Don't have an account <a class="text-blue-600 font-medium" routerLink="/register">Register</a></div>

</form>
</div>