.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 131px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.error-text {
  font-size: 14px;
}

.message-container {
  display: flex;
  justify-content: center;  
  align-items: center;  
  // height: 100vh; 
}

.message {
  max-width: 500px;  
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.message h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

.message ul {
  margin-top: 5px;
}

.message ul li {
  margin-bottom: 5px;
}

.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

