<div class="bg-[#f5f5dc] h-full">
    <app-header class="sticky top-0 w-full z-50"></app-header>

    <div class="flex flex-col justify-between h-full">
      <div class="lg:px-60 sm:px-8 xsm:px-4 xxsm:px-2 md:px-32 w-full mb-11 ">
        <div class="divide-y-2 divide-solid">
        <p style="font-weight: 500;" class="xxsm:font-normal xxsm:text-lg sm:text-xl md:text-2xl xxsm:pt-3 sm:pt-6 pb-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit assumenda maiores deserunt totam deleniti enim earum? Esse nihil quam odit cupiditate deleniti. Ut porro iusto ipsum incidunt est alias et.
        </p>
        
        <div class="xxsm:pt-2 sm:pt-4 xxsm:text-base sm:text-lg">
            <ul class="list-disc px-5 text-[#5d5c5c]">
                <li>Now this is a story all about how, my life got flipped-turned upside down Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
            </ul>
            <ul class="list-disc px-5 text-[#5d5c5c]">
                <li>Now this is a story all about how, my life got flipped-turned upside down Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
            </ul>
            <ul class="list-disc px-5 text-[#5d5c5c]">
                <li>Now this is a story all about how, my life got flipped-turned upside down Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                <li>last line out how, my life got flipped-turned upside down</li>
            </ul>
            <ul class="list-disc px-5 text-[#5d5c5c]">
                <li>Now this is a story all about how, my life got flipped-turned upside down Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
            </ul>
            <ul class="list-disc px-5 text-[#5d5c5c]">
                <li>Now this is a story all about how, my life got flipped-turned upside down Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                <li>last line out how, my life got flipped-turned upside down</li>
            </ul>
            
        </div>
        </div>
      </div>
      <!-- footer -->
    <div class=" w-full bg-[#333232] h-auto xxsm:px-2 sm:px-16 lg:px-36">
        <div class="xxsm:w-full xxsm:px-6 sm:px-0 md:w-1/2">
            <p class="text-2xl font-bold text-[#FFF] pt-8 xxsm:text-center md:text-start">tripotle</p>
            <p class="text-[#fff] text-sm font-normal pt-4 xxsm:hidden sm:block">Tripotale is a AI website or service application that
                helps you choose or recommend places that appear to be ‘hidden gems’ to become more known and
                visited Read More</p>
            <div class="flex flex-row py-4 justify-between flex-wrap gap-2">
                <span class="flex gap-2 h-fit">
                    <img src="../../assets/img/call-calling.png" alt="">
                    <p class="text-[#9A9EA6] text-sm font-normal">00000000000</p>
                </span>
                <span class="flex gap-2 h-fit">
                    <img src="../../assets/img/sms.png" alt="">
                    <p class="text-[#9A9EA6] text-sm font-normal">tripotale&#64;gmail.com</p>
                </span>
                <span class="flex gap-2 h-fit">
                    <img src="../../assets/img/location.png" alt="">
                    <p class="text-[#9A9EA6] text-sm font-normal">WORLD</p>
                </span>
                
            </div>
            <span class="">
                <p class="text-[#9A9EA6] text-sm font-normal pb-2">© 2021-2022, All Rights Reserved</p>
            </span>
        </div>
    </div>    
</div>
</div>