<div class="bg-[#f5f5dc] h-full">
    <app-header class="sticky top-0 w-full z-50"></app-header>

    <div class="flex flex-col justify-between h-full">
        <div class="lg:px-60 sm:px-8 xsm:px-4 xxsm:px-2 md:px-32 w-full mb-11 ">
            <!-- top content  -->
            <div class="border-b-2 border-[#834483] pb-8">
                <p
                    class="text-[#181E4B] font-['Nunito'] xxsm:text-xl xsm:text-2xl sm:text-4xl md:text-5xl xxsm:py-4 sm:py-5 md:py-8 font-extrabold xxsm:text-center">
                    Welcome to Tripotale - Your AI Travel Planner!
                </p>
                <p class="xxsm:text-base sm:text-lg md:text-xl">Welcome to Tripotale, where travel planning meets
                    artificial intelligence! Our AI-based travel planner is designed to make your trip planning
                    experience seamless and personalized.</p>
            </div>
            
            <!-- img -->
            <div class="xxsm:h-[225px] sm:h-[335px] pt-8 w-full">
                <img src="../../assets/img/trip_process1.jpg" class="h-full w-full object-cover rounded-3xl">
            </div>

            <!-- steps -->
            <div class="xxsm:pt-2 sm:pt-8 xxsm:text-base sm:text-lg">
                <p class="pb-8 font-medium text-[#22263f] text-2xl">Step-by-Step Guide:</p>
                <ul *ngFor="let item of steps; let index = index"
                    class="list-disc px-8 pb-3 text-[#5d5c5c] flex flex-col gap-2">
                    <li>
                        <p class="font-medium pb-[2px] text-[#3c4373]">{{ item.step }}</p>
                        {{item.details}}
                    </li>
                    <hr *ngIf="index < 5">
                </ul>
            </div>

            <!-- faq -->
            <div class="xxsm:pt-2 sm:pt-8 xxsm:text-base sm:text-lg">
                <p class="pb-8 font-medium text-[#22263f] text-2xl">Frequently Asked Questions:</p>
                <ul *ngFor="let queList of faq; let index = index"
                    class="list-disc px-8 pb-3 text-[#5d5c5c] flex flex-col gap-2">
                    <li>
                        <p class="font-medium pb-[2px] text-[#3c4373]">{{ queList.question }}</p>
                        {{queList.answer}}
                    </li>
                    <hr *ngIf="index < 9">
                </ul>
            </div>
        </div>
        <!-- footer -->
        <div class=" w-full bg-[#333232] h-auto xxsm:px-2 sm:px-16 py-3 lg:px-36">
            <div class="xxsm:w-full xxsm:px-6 sm:px-0 md:w-1/2">
                <p class="text-2xl font-bold text-[#FFF] xxsm:pt-4 sm:pt-8 xxsm:text-center md:text-start">tripotle</p>
                <p class="text-[#fff] text-sm font-normal pt-4 xxsm:hidden sm:block">Tripotale is a AI website or
                    service application that
                    helps you choose or recommend places that appear to be ‘hidden gems’ to become more known and
                    visited Read More</p>
                <div class="flex flex-row py-4 justify-between flex-wrap gap-2">
                    <span class="flex gap-2 h-fit">
                        <img src="../../assets/img/call-calling.png" alt="">
                        <p class="text-[#9A9EA6] text-sm font-normal">00000000000</p>
                    </span>
                    <span class="flex gap-2 h-fit">
                        <img src="../../assets/img/sms.png" alt="">
                        <p class="text-[#9A9EA6] text-sm font-normal">tripotale&#64;gmail.com</p>
                    </span>
                    <span class="flex gap-2 h-fit">
                        <img src="../../assets/img/location.png" alt="">
                        <p class="text-[#9A9EA6] text-sm font-normal">WORLD</p>
                    </span>

                </div>
                <span class="">
                    <p class="text-[#9A9EA6] text-sm font-normal pb-2">© 2021-2022, All Rights Reserved</p>
                </span>
            </div>
        </div>
    </div>