<app-header></app-header>
<div>
    <!-- img sec -->
    <div class="md:pt-24 xxsm:px-4 md:px-16 xxsm:pt-6 sm:pt-9">
        <p
            class="text-[#181E4B] xxsm:text-xl sm:text-4xl md:text-6xl text-center md:tracking-[-3px] font-['Plus_Jakarta_Sans'] font-extrabold">
            Welcome to Tripotale frequently asked Questions</p>
        <p class="xxsm:text-sm sm:text-lg font-medium font-['Plus_Jakarta_Sans'] pt-4 text-center">Tripotale is your innovative and
            intelligent travel companion, Explore our FAQs to delve into the ways AI Travel aims to enhance your travel
            experience!</p>
        <div class="pt-1 flex items-center justify-center">
            <img src="../../assets/img/Group 592 1.png" alt="">
        </div>
    </div>
    <!-- form sec -->
    <div class="md:px-16 xxsm:px-4">
        <p class="xxsm:text-4xl sm:text-5xl md:text-7xl font-normal text-center font-['Bebas_Neue'] xxsm:pb-10 sm:pb-14 md:pb-20">Frequently asked questions</p>

        <div class="flex flex-col justify-center text-center items-center gap-7 pb-20">
            <div class="relative xxsm:w-full sm:w-[70%] md:w-[50%]">
                <select class="cursor-pointer shrink grow-0 block appearance-none w-full border bg-transparent border-[#D3D3D3] text-[#000] font-bold xxsm:text-xs sm:text-lg md:text-xl xxsm:py-2 sm:py-3 md:py-4 px-4 rounded xsm:text-lg">
                    <option>What is AI Travel?</option>
                    <option value="qwe">qwert</option>
                    <option>.....</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 24 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5227 2.96689L13.1523 13.3373C12.5159 13.9737 11.4841 13.9737 10.8477 13.3373L0.477287 2.96689C-0.159096 2.33051 -0.159096 1.29873 0.477287 0.662344C1.11367 0.025962 2.14545 0.025962 2.78183 0.662344L12 9.88052L21.2182 0.662345C21.8546 0.0259629 22.8863 0.0259629 23.5227 0.662345C24.1591 1.29873 24.1591 2.33051 23.5227 2.96689Z" fill="black"/>
                      </svg>
                </div>
            </div>
            <div class="relative xxsm:w-full sm:w-[70%] md:w-[50%]">
                <select class="cursor-pointer shrink grow-0 block appearance-none w-full border bg-transparent border-[#D3D3D3] text-[#000] font-bold xxsm:text-xs sm:text-lg md:text-xl xxsm:py-2 sm:py-3 md:py-4 px-4 rounded xsm:text-lg">
                    <option>What is tripotale?</option>
                    <option>.....</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 24 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5227 2.96689L13.1523 13.3373C12.5159 13.9737 11.4841 13.9737 10.8477 13.3373L0.477287 2.96689C-0.159096 2.33051 -0.159096 1.29873 0.477287 0.662344C1.11367 0.025962 2.14545 0.025962 2.78183 0.662344L12 9.88052L21.2182 0.662345C21.8546 0.0259629 22.8863 0.0259629 23.5227 0.662345C24.1591 1.29873 24.1591 2.33051 23.5227 2.96689Z" fill="black"/>
                      </svg>
                </div>
            </div>
            <div class="relative xxsm:w-full sm:w-[70%] md:w-[50%]">
                <select class="cursor-pointer shrink grow-0 block appearance-none w-full border bg-transparent border-[#D3D3D3] text-[#000] font-bold xxsm:text-xs sm:text-lg md:text-xl xxsm:py-2 sm:py-3 md:py-4 px-4 rounded xsm:text-lg">
                    <option>Is tripotale free?</option>
                    <option>.....</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 24 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5227 2.96689L13.1523 13.3373C12.5159 13.9737 11.4841 13.9737 10.8477 13.3373L0.477287 2.96689C-0.159096 2.33051 -0.159096 1.29873 0.477287 0.662344C1.11367 0.025962 2.14545 0.025962 2.78183 0.662344L12 9.88052L21.2182 0.662345C21.8546 0.0259629 22.8863 0.0259629 23.5227 0.662345C24.1591 1.29873 24.1591 2.33051 23.5227 2.96689Z" fill="black"/>
                      </svg>
                </div>
            </div>
            <div class="relative xxsm:w-full sm:w-[70%] md:w-[50%]">
                <select class="cursor-pointer shrink grow-0 block appearance-none w-full border bg-transparent border-[#D3D3D3] text-[#000] font-bold xxsm:text-xs sm:text-lg md:text-xl xxsm:py-2 sm:py-3 md:py-4 px-4 rounded xsm:text-lg">
                  <option>How fast is tripotale?</option>
                  <option>.....</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 24 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5227 2.96689L13.1523 13.3373C12.5159 13.9737 11.4841 13.9737 10.8477 13.3373L0.477287 2.96689C-0.159096 2.33051 -0.159096 1.29873 0.477287 0.662344C1.11367 0.025962 2.14545 0.025962 2.78183 0.662344L12 9.88052L21.2182 0.662345C21.8546 0.0259629 22.8863 0.0259629 23.5227 0.662345C24.1591 1.29873 24.1591 2.33051 23.5227 2.96689Z" fill="black"/>
                      </svg>
                </div>
            </div>
        </div>
    </div>
</div>